.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
.navbar {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(17, 24, 39, 0.09);
}
.btn {
  box-shadow: 0 1px 3px rgba(17, 24, 39, 0.09);
}
#header-right,
#header-left {
  animation: fade ease-in 1.6s;
  animation-iteration-count: 1;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
